body {
    background-color: #ecd6fc;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rows {
    display: flex;
    flex-direction: row;
}

div {
    background-color: white;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

div:hover {
    background-color: red;
}
